// &:指的是父节点信息
/*
* https://www.w3cplus.com/preprocessor/sass-mixins-function-placeholder.html

  SASS基础——十个常见的Mixins
  https://www.w3cplus.com/preprocessor/ten-best-common-mixins.html
*/
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

